#nav-bar-name{
    font-family: 'VT323', monospace;
    font-size: 50px;
}



body{
    background-color: rgb(63, 63, 63);
    background-image: url("../img/grey_wash_wall.png")
}
.nav-link{
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: black
}
.card{
    margin-left: 40px;
    margin-top: 10px;
}
#gif-cards{
    font-family: 'VT323', monospace;
    
}
#card-fixed{
    position: fixed;
}
#carouselExampleIndicators{
    display: block;
    margin: auto;
    width: 45%;
    size: 50px;
    float: right;

}
