#nav-bar-name{
    font-family: 'VT323', monospace;
    font-size: 50px;
}

#gif-cards{

}

body{
    background-color: rgb(63, 63, 63)
}
.nav-link{
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: black
}
.card{
    margin-left: 40px;
    margin-top: 10px;
}
#gif-cards{
    font-family: 'VT323', monospace;
}
#card-fixed{
    position: fixed;
}